.text-area *.text {
    -fx-text-alignment: center;

}

#textLucros{
    -fx-text-fill: black;
}
#textDespesas{
    -fx-text-fill: #000000;
}
#textGanhos{
    -fx-text-fill: #000000;
}

.text-area .content{
    -fx-background-color: #fff;
    -fx-cursor: default;
}

.text-area{
    -fx-background-color: #fff;
}